n8n/workflows/Smart Led Lab.json
{
  "name": "Smart Led Lab",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "led-action",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "5c85346d-69ee-41a6-9f99-44c236b0d59c",
      "name": "Webhook",
      "webhookId": "990a5f03-f72b-4d7d-a4e9-949a7120ff4a",
      "executeOnce": false
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "8347d41b-d481-44c6-b3f7-19b3d7ac1e5f",
              "leftValue": "={{$json[\"body\"][\"action\"]}}",
              "rightValue": "on",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        192,
        0
      ],
      "id": "6986b1a1-fd06-4fec-9e86-18b6f2836d00",
      "name": "If"
    },
    {
      "parameters": {
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        560,
        48
      ],
      "id": "4db8637f-3f89-49ef-af83-811ce8ba5f93",
      "name": "Respond to Webhook2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.15.9:8123/api/services/light/turn_on",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"entity_id\": \"light.led_sala\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        384,
        -80
      ],
      "id": "cf8cdc72-33f3-40a1-9979-4d1478efb355",
      "name": "HTTP Request",
      "credentials": {
        "httpBearerAuth": {
          "id": "j9dQQoTYODwkJmXG",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.15.9:8123/api/services/light/turn_off",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"entity_id\": \"light.led_sala\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        384,
        32
      ],
      "id": "cbaf9c55-aa66-44eb-83ca-d7fc52766968",
      "name": "HTTP Request1",
      "credentials": {
        "httpBearerAuth": {
          "id": "j9dQQoTYODwkJmXG",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        560,
        -80
      ],
      "id": "8488c487-37ed-4b19-b9cc-8eb87f90141f",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "6498eab9-b3ea-4747-b9a9-a96bc31f439f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a7265a18009786a0e3d2a042728719c9bc94a4e961636835e57ee652a877b1d5"
  },
  "id": "HLqTelhoWjf3O6G4",
  "tags": []
}